<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Title</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>

    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" aria-label="Main">
            <div class="container">
                <a class="navbar-brand" href="#">Saving Sage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample07"></div>
                    <menu alias="alias:MainMenu" cache-id="MainMenu" cache-fixed-duration="00:05:00" cache-tag="alias:MainMenu"/>
                    <form role="search">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>    
            </div>
        </nav>
    </header>
    @await RenderSectionAsync("Header", required: false)

    <main role="main" class="container">
        @await RenderSectionAsync("Messages", required: false)
        
        @await RenderBodyAsync()
    </main>

    @await RenderSectionAsync("Footer", required: false)

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Saving Sage Animal Rescue Foundation - <a href="#">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>