<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web Title</title>

    <script src="~/dist/site.entry.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    @await RenderSectionAsync("HeadMeta", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">Saving Sage</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <menu alias="alias:MainMenu" cache-id="MainMenu" cache-fixed-duration="00:05:00"
                        cache-tag="alias:MainMenu" />
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                    <a class="btn btn-primary" href="~/Login">Login</a>
                </div>
            </div>
        </nav>
    </header>


    @await RenderSectionAsync("Header", required: false)

    <main role="main" class="container">
        @await RenderSectionAsync("Messages", required: false)

        @await RenderBodyAsync()
    </main>

    @await RenderSectionAsync("Footer", required: false)

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Saving Sage Animal Rescue Foundation - <a href="#">Privacy</a>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>