                                                                                        @* why does the mainsite redirect to itself *@
<p>The best way to reach us regarding fostering or adopting is to put in an application at <a href="http://www.savingsagerescue.org">www.savingsagerescue.org</a>. For other matters please email us at <a href="mailto:michelle@savingsagerescue.org">michelle@savingsagerescue.org</a>.</p>

<p><strong>Meet Our Animals: The quickest way to get an answer about one of our animals listed for adoption&nbsp;</strong></p>
<p><strong>is to fill out an application here on our website.</strong></p>

@* image box with pics *@
<div class="card text-bg-dark">
  <img src="..." class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
  </div>
</div>
@* image box with pics *@
<div class="card-group">
 <div class="hstack gap">   
  <div class="card">
     <img src="/media/Home/jae-park-7GX5aICb5i4-unsplash.jpg" alt="Picture" style="width:200px;height:200px;">
  </div>  
  <div class="card">
     <img src="/media/Home/istockphoto-1426156694-170667a.jpg" alt="Picture" style="width:200px;height:200px;">
  </div>  
  <div class="card">
     <img src="/media/Home/istockphoto-1362221208-1024x1024.jpg" alt="Picture" style="width:200px;height:200px;">
  </div>
  <div class="card">
     <text>Saving Sage Animal Rescue Foundation</text>
  </div>
 </div>     
</div>
<p>We know you’ve always wanted a <a href="https://savingsagerescue.org/dogs/">dog</a> or a <a href="https://savingsagerescue.org/cats/">cat</a> and now’s the time friends! <strong>SAVING SAGE ANIMAL RESCUE FOUNDATION</strong> is here to help you get ready for your new family member, as soon as you’re ready to take the big plunge. Owning an animal is, after all, one of the most gratifying things you can do.</p>

<p>It’s hard knowing what to do when you’re about to adopt. But, we make this process even easier when you adopt with us, because we have experienced rescuers that will go over every possible question or concern you and your family might have on introducing your newest pal to the family.</p>

@*  change background for pictures and center text *@
<div class ="row text-center">
   <div class="col-lg-6 col-md-6"style="height: 300px; background:transparent url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp') no-repeat center center /cover">
    	        <i class="fa fa-heart" aria-hidden="true"></i>
                <h3>Meet our Dogs</h3> 
                <a class="btn btn-primary" href="https://www.adoptapet.com/shelter/93256/available-pets/pets#current_page=1#clanId=1" role="button">Click Here</a>   
    </div>
    <div class="col-lg-6 col-md-6"style="background:transparent url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp') no-repeat center center /cover">
    	        <i class="fa fa-heart" aria-hidden="true"></i>
                <h3>Meet our Cats</h3> 
                <a class="btn btn-primary" href="https://www.adoptapet.com/shelter/93256/available-pets/pets#current_page=1#clanId=1" role="button">Click Here</a>   
    </div>
</div>
<p>We work hard to make sure that we take care of all of our rescues here at<strong>SSARF</strong> and we can’t do it without people like you, who care. We depend on <a href="https://savingsagerescue.org/donate/">donations</a>. We also depend on <a href="https://savingsagerescue.org/volunteer-application/">volunteers</a> willing to give their time. So, if you ever feel like you want to be a <a href="https://savingsagerescue.org/get-involved/">part of the <strong>SSARF</strong> family</a> and help some of the best animals around, check us out! <a href="https://savingsagerescue.org/leadership/">We are currently looking for responsible volunteers for Leadership Positions!</a></p>

        <div class="ssar-link-group">
            <div class="col-lg-3 col-md-6">
                <a href="#" class="btn bg-info">
                    <h3>Be a Sponsor <i class="fa fa-heart" aria-hidden="true"></i></h3>
                    <p>We can't do it without people like you, who care.</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="#" class="btn bg-primary">
                    <h3>Be a Volunteer <i class="fa fa-heart" aria-hidden="true"></i></h3>
                    <p>We also depend on volunteers willing to give their time.</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <a href="#" class="btn bg-warning">
                    <h3>Adopt a Pet <i class="fa fa-heart" aria-hidden="true"></i></h3>
                    <p>Complete the adoption application form here.</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <a href="#" class="btn bg-success">
                    <h3>Be a Foster <i class="fa fa-heart" aria-hidden="true"></i></h3>
                    <p>Complete the fostering application form here.</p>
                </a>
            </div>
        </div>
        </br> 

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class=""
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=""
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="border border-danger rounded-3">
                        <p>
                            I can’t say enough about Dianne Aikman. Because of her love and dedication to animals ,
                            my
                            family has the best pup ever. We fostered then adopted Luna Marie, a lab/pit mix. Dianne
                            made
                            herself available at all hours when we had any questions or concerns. She went out of
                            her
                            way to
                            make sure Luna was adjusting to her new home and life. Now not only do we have our baby
                            girl
                            we
                            also made a friend for life. Thank you Saving Sage and Dianne Aikman, you give life,
                            hope,
                            joy
                            and love to the animals you rescue and to the families that are lucky enough to adopt
                            them .
                        </p>
                        <span>Charlotte Rios</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="border border-danger rounded-3">
                        <p>
                            There is no one that cares more about the animals then the team at Saving Sage. When I
                            adopted
                            my cat from them their every concern was about the heath and well being of my Adora
                            Bella.
                            Seeing how they jump into action when an animal is in need makes you realize how amazing
                            and
                            compassionate this team is. I would highly recommend this shelter, as your pet won’t be
                            forgotten about by their team after you take it home, you become part of the Saving Sage
                            family.
                        </p>
                        <span>Erin McClary</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="border border-danger rounded-3">
                        <p>
                            My son's dog got out one morning before work I yelled his name walked up and down the
                            street
                            checked his favorite spots and couldn't find him anywhere had to take my son to school
                            went
                            to
                            work stressed out about how I'm going to tell him I did not find him yet went home on my
                            lunch
                            break to check for him and just when I got five minutes back to work I got the call that
                            somebody had ran his microchip and found him! The beautiful part is that a volunteer
                            from
                            saving
                            sage actually found him and was able to keep him until I got off of work and the perfect
                            ending
                            I was able to pick my son up from school with his dog in the car it doesn't get better
                            than
                            that
                            and God for microchips good people and Saving Sage.
                        </p>
                        <span>Nicole Marie Garcia</span>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

