@using animalrescue.mainmodule.web.viewmodels.calendar
@model CalendarDetailsVm

<form asp-controller="Calendar" asp-action="Details" class="form-horizontal">
    <input asp-for="Id" type="hidden"/>
    <div class="form-group">
        <label asp-for="CalendarTypeId"></label>
        <select asp-for="CalendarTypeId" class="form-control form-select" asp-items="Model.CalendarTypesDropdown"></select>
        <span asp-validation-for="CalendarTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LocationId"></label>
        <select asp-for="LocationId" class="form-control form-select" asp-items="Model.LocationsDropdown"></select>
        <span asp-validation-for="LocationId" class="text-danger"></span>
    </div>
    
    
    <input type="submit" class="btn btn-primary" value="Save">
</form>

<div class="ssar-calendar container">
    <div class="row text-center">
        <span class="title"></span>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-1">
                <button class="prev btn btn-secondary" type="button">Prev</button>
            </div>
            <div class="col-lg-1">
                <button class="next btn btn-secondary" type="button">Next</button>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
    <div id="calendar" style="height: 600px"></div>
</div>