<row class="text-center">
    <h1>We Need Responsible Volunteers <br>For Leadership Positions</h1>
</row>
<row>

<h2>
    Leadership Positions- These are ALL UNPAID positions
</h2>

<p>
    Coordinators and Managers ALL report to and are directed by <a href="#">Kathy and Gina</a>
    <br>
    If you are interested in any of these positions – please call Deb (Data/Communications Specialist) &#64<a href="#"> 954-296-7291</a> or <a href="#"> email Kathy</a>
</p>

<p>
    We dedicate our time to the most urgent, abused and neglected animals in South Florida. We work diligently to change
    the world for animals through our youth educational programs, tackling the growing over population crisis in our
    community and by helping to provide microchip scanners and training to various police departments in an effort to
    reunite lost pets and keep them out of our local shelters.
</p>
</row>

<div class="row">
    <div class="col-lg-6 col-xs-1">
        <h3>Animal Intake / Outtake Coordinator</h3>
        <p>
            <strong>This person must be onsite at least 4 days per week with a backup person to help on days off</strong>
            <br>
            -work with Volunteer / Event / Marketing Coordinator to man Shelter
            <br>
            -order/get food, litter, cleaning supplies, office supplies, etc.
            <br>
            -take pictures of animals
            <br>
            -create folders
            <br>
            -Learn and Implement SHELTER MANAGER software
            <br>
            Until SHELTER MANAGER is in place Coordinator will do manually:
        </p>
        <p>
            -record keeping of animals
            <br>
            -upload to Adopt a Pet
            <br>
            -update Adopt a Pet (new pics/adoptions/etc.)
        </p>
        <p>
            -work with Volunteer / Event / Marketing Coordinator and Animal Caretaker to supply animals to events and stores
            <br>
            -Assistant to 
            <a href="#">Kathy, Carla and Gina</a>
            <br>
            -Answer phones
            <br>
            -Stop and approve ALL visitors to the shelter
            <br>
            -maintain Staff listing updates
        </p>
        <h3>Pet Store Manager</h3>
        <p>
            -work with stores
            <br>
            -work with Volunteer / Event / Marketing Coordinator to man stores
            <br>
            -work with Animal Intake Coordinator and Caretaker to place animals
            <br>
            -fill in store cleaning visits when no volunteers available
        </p>
    </div>
    <div class="col-lg-6 col-xs-1">
        <h3>Adoption / Foster Manager</h3>
        <p>
            -home checks
            <br>
            -research applications for validity and viability
            <br>
            -Approval by <a href="#">Carla, Kathy, and Gina</a>then notify Animal Intake Coordinator of adoptions/fosters
        </p>
        <h3>Volunteer / Event / Marketing Coordinator</h3>
        <p>
            -Contact all new internet applicants and interview for skill, time available, location and placement
            <br>
            -Set up and lead orientations for volunteers
            <br>
            -come up with ideas for events, search for events
            <br>
            -supervise events (get permits, pay fees, get volunteers)
            <br>
            -commission ads (to Data Communications Specialist)
            <br>
            -submit events and ads to Social Media and Band APP
            <br>
            -send emails
        </p>
        <h3>TNR / RTF Coordinator</h3>
        <p>
            -Contact all new internet applicants and interview for skill, time available, location and placement
            <br>
            -Set up and lead orientations for volunteers
            <br>
            -come up with ideas for events, search for events
            <br>
            -supervise events (get permits, pay fees, get volunteers)
            <br>
            -commission ads (to Data Communications Specialist)
            <br>
            -submit events and ads to Social Media and Band APP
            <br>
            -send emails
        </p>
    </div>
</div>
<div>
    <i class="fa-solid fa-envelope-open"></i>
    <a href="mailto:savingsagerescue@yahoo.com">savingsagerescue@yahoo.com</a>
</div>