<h1>A Special Thank You To Our Sponsors!<h1>

        <img> @* TODO: Petco Foundation *@

        <h3>Thank You Petco Foundation</h3>

        <p>
            Since 1999, the Petco Foundation has invested more than $135 million in lifesaving animal welfare work
            across the country. Today, they have more than 8,000 animal welfare partners. <strong>Saving Sage Animal
                Rescue
                Foundation</strong> is very proud to be considered one of those rescue partners. Together, we empower
            communities to
            make a difference in the lives of animals. Thanks to Petco's adoption efforts in more than 1,400 Petco
            stores nationwide, Petco has helped find homes for more than 420,000 animals just last year. <strong>Saving
                Sage
                Animal Rescue Foundation</strong> was one of the recipients of the tree of Hope Grant awarded January
            2016. Thanks to
            Petco's generosity and the many adoption programs they have implemented, the world is changing for stray
            animals, one adoption at a time.
        </p>

        <img> @* TODO: Unite Miami Shores *@

        <h3>Thank You Unite Miami Shores & The Miami Foundation</h3>

        <p>
            Saving animals requires funding! We can not continue our life saving work without enough money to care for
            every animal we take in. We would like to say thank you to UniteMiamiShores.org for awarding <strong>Saving
                Sage
                Animal Rescue Foundation</strong> funding towards our feral cat program. Because of the generous grant
            awarded March
            2016, we were able to help 36 cats who needed our help. Six mothers and thirty kittens are now off the
            street. These cats all received medical care. They were fixed & vaccinated and either rehabilitated and
            placed in forever homes or released into feral colonies to be cared for. Do you have any idea how big this
            is? Besides these animals all being safe they are now unable to continue needlessly reproducing. One adult
            female cat has approximately 12 kittens a year. Those 12 kittens continue to reproduce at alarming rates. So
            in theory, the six mother cats taken in could have had <strong>69,636,462</strong> kittens in a nine year
            period. The thirty
            kittens that we took in, could have been <strong>348,182,310</strong> additional kittens in nine years.
            That's a total of
            potentially <strong>417,818,617</strong> cats that will not be living on the streets in Miami Shores.
            Hearing the actual
            numbers should shock you! That's a lot of cats! Help us by spaying and neutering your pets!
            Thank you Unite Miami Shores for supporting our animal rescue mission.
        </p>

        <img> @* TODO: Joe Hillman Plumbers, Inc. *@

        <h3>Thank You Joe Hillman Plumbers, Inc.</h3>

        <img> @* TODO: The Law Firm of Cindy Goldstein Your Personal injury Attorney *@

        <h3>Thank You to the Law Firm of Cindy Goldstein, your personal injury attorney</h3>

        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 text-center">
            <div class="col bg-info">
                <a href="#" class="nav-link">
                    <h5>Be a Sponsor</h5>
                    <p>We can't do it without people like you, who care.</p>
                </a>
            </div>
            <div class="col bg-primary">
                <a href="#" class="nav-link">
                    <h5>Be a Volunteer</h5>
                    <p>We also depend on volunteers willing to give their time.</p>
                </a>
            </div>
            <div class="col bg-warning">
                <a href="#" class="nav-link">
                    <h5>Adopt a Pet</h5>
                    <p>Complete the adoption application form here.</p>
                </a>
            </div>
            <div class="col bg-success">
                <a href="#" class="nav-link">
                    <h5>Be a Foster</h5>
                    <p>Complete the fostering application form here.</p>
                </a>
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div>
                        <p>
                            I can’t say enough about Dianne Aikman. Because of her love and dedication to animals , my
                            family has the best pup ever. We fostered then adopted Luna Marie, a lab/pit mix. Dianne
                            made
                            herself available at all hours when we had any questions or concerns. She went out of her
                            way to
                            make sure Luna was adjusting to her new home and life. Now not only do we have our baby girl
                            we
                            also made a friend for life. Thank you Saving Sage and Dianne Aikman, you give life, hope,
                            joy
                            and love to the animals you rescue and to the families that are lucky enough to adopt them .
                        </p>
                        <span>Charlotte Rios</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <p>
                            There is no one that cares more about the animals then the team at Saving Sage. When I
                            adopted
                            my cat from them their every concern was about the heath and well being of my Adora Bella.
                            Seeing how they jump into action when an animal is in need makes you realize how amazing and
                            compassionate this team is. I would highly recommend this shelter, as your pet won’t be
                            forgotten about by their team after you take it home, you become part of the Saving Sage
                            family.
                        </p>
                        <span>Erin McClary</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <div>
                        <p>
                            My son's dog got out one morning before work I yelled his name walked up and down the street
                            checked his favorite spots and couldn't find him anywhere had to take my son to school went
                            to
                            work stressed out about how I'm going to tell him I did not find him yet went home on my
                            lunch
                            break to check for him and just when I got five minutes back to work I got the call that
                            somebody had ran his microchip and found him! The beautiful part is that a volunteer from
                            saving
                            sage actually found him and was able to keep him until I got off of work and the perfect
                            ending
                            I was able to pick my son up from school with his dog in the car it doesn't get better than
                            that
                            and God for microchips good people and Saving Sage.
                        </p>
                        <span>Nicole Marie Garcia</span>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
