@page
<row class="text-center">
    <h2>About Us</h2>
</row>
<row>
<p>
    <b>Saving Sage Animal Rescue Foundation</b> is a not for profit, 501(c)3 animal rescue organization run solely by
    volunteers since 2014.
</p>

<p>
    We dedicate our time to the most urgent, abused and neglected animals in South Florida. We work diligently to change
    the world for animals through our youth educational programs, tackling the growing over population crisis in our
    community and by helping to provide microchip scanners and training to various police departments in an effort to
    reunite lost pets and keep them out of our local shelters.
</p>

<p>
    Our shelter offers grooming and bathing services for your pets. Please contact Fred Frey for more information:
    (305)-731-1507.
</p>
</row>
<row class="primary">
<p>
    We currently have a need for responsible Volunteers in Leadership positions.
    Please visit this page for more information.
    <a href="#">LEADERS WANTED!</a>
</p>
</row>
<h2>Our Team</h2>

<ul>
    <li>
        <span>Regina Vlasek</span>
        <span>Director of SSAR Foundation</span>
        <span>Contact Regina</span>
    </li>
    <li>
        <span>Regina Vlasek</span>
        <span>Director of SSAR Foundation</span>
        <span>Contact Regina</span>
    </li>
    <li>
        <span>Kathy Bienek</span>
        <span>Vice-President</span>
        <span>Contact Kathy</span>
    </li>
    <li>
        <span>Michelle Reichler</span>
        <span>Foster Coordinator Board of Directors</span>
        <span>Contact Michelle</span>
    </li>
    <li>
        <span>Faby Viconty</span>
        <span>Cat Shelter Team Manager</span>
        <span>Contact Faby</span>
    </li>
    <li>
        <span>Frank Tammero</span>
        <span>Dog Team Manager</span>
        <span>Contact Frank</span>
    </li>
</ul>


<h2>Approved rescue partners</h2>
<p>
    Saving Sage Animal Rescue Foundation is Proud to be approved rescue partners with these organizations.
    Won’t you be a lamb and visit their sites by clicking on their logos?
</p>

<button>VISIT OUR SPONSORS PAGE</button>